.page {
    width: 800px;
    margin: 40px auto;
    padding: 24px;
    line-height: 1.5;
    background-color: #f7f7f7;
}

.title {
    color: #444;
    font-size: 1.1em;
    font-weight: bold;
}

.title--block {
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.5);
}